ekf_filter_node:
  ros__parameters:

    frequency: 30.0
    sensor_timeout: 0.1

    two_d_mode: false
    publish_tf: true
    publish_acceleration: false

    # =======================
    # 1. Wheel odometry
    # =======================
    odom0: diff_drive_base_controller/odom
    odom0_config: [
        false, false, false,     # x, y, z
        false, false, false,     # roll, pitch, yaw
        true,  true,  true,      # vx, vy, vz
        false, false, true,      # vroll, vpitch, vyaw
        false, false, false      # ax, ay, az
    ]
    odom0_queue_size: 50
    odom0_nodelay: true
    odom0_differential: false
    odom0_relative: false

    # =======================
    # 2. IMU
    # =======================
    imu0: imu/data
    imu0_config: [
        false, false, false,     # x, y, z
        true,  true,  false,     # roll, pitch, yaw
        false, false, false,     # vx, vy, vz
        true,  true,  true,      # vroll, vpitch, vyaw
        true,  true,  true       # ax, ay, az
    ]
    imu0_nodelay: false
    imu0_differential: false
    imu0_relative: false
    imu0_queue_size: 100
    imu0_remove_gravitational_acceleration: true

    # =======================
    # 3. GPS (from sim_node)
    # =======================
    gps0: gps/fix
    gps0_config: [
        true,  true,  true,      # x, y, z  <-- position only
        false, false, false,     # roll, pitch, yaw
        false, false, false,     # vx, vy, vz
        false, false, false,     # vroll, vpitch, vyaw
        false, false, false      # ax, ay, az
    ]
    gps0_queue_size: 5
    gps0_differential: false
    gps0_relative: false
